@charset "UTF-8";




/*-----------------------------------------------------------------------------------------------------------------

									---			TABS		---

-----------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1024px){

/*LANDING PAGE*/
.ul.tab li a{ width:125px;}
.tabimages{ width:250px; height:169px;}

.tit_blk { width: 610px;}
.shw_blk .span3 { margin: 0 1.5% 0 1.5%; height:198px;}

.blackscreen{ bottom:0 !important;}
.preloaderCont { left:47% !important;}

	}
	

/*-----------------------------------------------------------------------------------------------------------------

							---			SMART PHONES BIG SCREEN		---

-----------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:480px) and (max-width:767px){
/*LANDING PAGE*/
.signinbtn{  background-color:transparent;  border: transparent; text-align:right; color: #fff;}

.nav {  margin: 20px 0 0 18px; width: 35px;}
.tit_blk {width: 353px;}
.shw_blk .span3 { margin: 0 1.5% 0 1.5%; height:161px;}
.tit_blk h3 { font-size:20px;}
.srh { width: 31px;}
.shw_blk h3 { font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;}
	
.preloaderCont { left:47% !important;}
.slt_block {     margin-top: 61px;}
	
}

@media screen and (min-width:375px) and (max-width:479px){
/*LANDING PAGE*/
.signinbtn{ color: #fff;}
.homeLogo{margin-left:45px;}
.nav {  margin: 20px 0 0 18px; width: 35px;}
.tit_blk {width: 228px;}
.shw_blk .span3 { margin: 0 1.5% 0 1.5%; height:94px;}
.tit_blk h3 { font-size:20px;}
.srh { width: 31px;}
.shw_blk h3 { font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px; margin-left:7px;}
	
}

/*-----------------------------------------------------------------------------------------------------------------

						 ---			SMART PHONES SMALL SCREEN		---

-----------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width:320px) and (max-width:374px){
/*LANDING PAGE*/
.signinbtn{ color: #fff;}
 .signinbtn{  background-color:transparent;  border: transparent; text-align:right; }
.nav {  margin: 20px 0 0 18px; width: 35px;}
.homeLogo{ margin-left:30px;}
.tit_blk {width: 191px;}
.shw_blk .span3 { margin: 0 1.5% 0 1.5%; height:97px;}
.tit_blk h3 { font-size:20px;}
.srh { width: 31px;}
.shw_blk h3 { font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
	margin-left:7px;}
ul.tab li a{ width: 105px;}
}
	
	
	
	
	





























 








