@charset "utf-8";
/* CSS Document */


nav{ position:fixed; z-index:999999; top:0; bottom:0; width:280px; background-color:#222; /*transform:translate3d(-280px, 0, 0);*/ transition:all .2s ease; height:100vh;
margin-left:-280px; /*overflow-y
:scroll;*/}

.navbrd{ border-top:1px solid #111;}

.active-nav nav{  margin-left:0px;  transition:all .2s ease; /* transform:translate3d(0, 0, 0);*/}

nav ul{ list-style:none; padding-left:0; margin-left:0; overflow-x:hidden;}
nav ul li a { text-decoration:none; display:block; padding:10px  ; border-left:0px solid transparent; transition:all ease-out 0.2s; color:#aaa;}
nav ul li a:hover{ color:#fff; border-left:6px solid #E2BC23; background-color:#1b1b1b;}

.navrts{ color:#888; font-size:12px; font-family:'opensans_regular'; padding:5px 10px 10px 10px;}

.mainCont{ width:100%; height:100%; background-color:#F66; bottom:0; transition:all 0.2s ease;}
 

.header{ width:100vw; height:70vh; background-color:#F60; text-align:center; line-height:280px;}
.footer{ width:100vw; height:30vh; background-color:#C60; text-align:center; line-height:100px; }

.nav-togglebtn{
	    width: 40px;
    height: 65px;
    display: block;
    position: absolute;
    left: 293px;
    top: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #ddd;
    font-size: 1.5em;    
}

.darkscreen{ width:100vw; height:0; background-color:rgba(0,0,0,0); position:fixed; z-index:10;  top:64px;}
.active-nav .darkscreen{ background-color:rgba(0,0,0,0.6); z-index:100000; height:100vh;}


/*MENU ICON */



.bar1, .bar2, .bar3 {
        width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 1px;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-4px, -1px) ;
}
.nav_blk { overflow: scroll; height: 85vh;}


