
<div class="colorgrey paddingtop30" id="divid1">
<div class="row">
<div class="col-md-12">
<h3 class="borderbottom">Membership</h3>
</div>
<div class="col-md-12" id="useremail" style="height:15px;" >

</div>
</div>

<div class="clearmargin"></div>

<div class="row">
<div class="col-md-12">
<h3 class="borderbottom">Plan Details</h3>
</div>
<div class="col-md-12 colorred" style="height:65px;">
<span id="plantype" style="text-transform:uppercase;"></span><br/>
<span id="planperiod"></span>
</div>

<div class="col-md-12">
<br/>
<span class="buttoncancelmem" onClick="showhide(3);" style="display:none;" >Change Plan</span>
<span class="buttoncencelbut" onClick="showhide(2);" id="cancelMember" style="display:none;"><i class="fa fa-times iconsize" aria-hidden="true"></i> Cancel Membership</span>
</div>
</div>


<div class="clearmargin"></div>

<div class="row">
<div class="col-md-12">
<h3 class="borderbottom height40">Paired devices
<div class="pull-right">
<div class="buttoncancelround" id="plusbutton" onClick="plusbuttonclick();"><i class="fa fa-plus iconsize"></i>
</div>
</div>
</h3>

</div>

<div class="col-md-12" id="devicedetails">

<div class="preloaderWrap"><div class="zoomcir"></div><div class="zoomcir2"></div><div class="zoomcir3"></div></div>

</div>

<div class="clearmargin"></div>
<div class="col-md-12" id="adddevice">
<div class="input-group">
  <input type="text" class="form-control inputcode" id="devicecode" placeholder="Enter Code">
  <span class="input-group-addon inputcodebtn" onClick="addbuttonclick();" id="basic-addon2">Add</span>
</div>
</div>
<div class="col-md-12" id="statusupdate"></div>
<div class="col-md-12" id="statusremoveupdate"></div>
</div>
</div>



<div class="container colorgrey ullistmargin paddingtop30" id="divid2" style="display:none">
<h3 class="borderbottom">Cancel Membership</h3>
<a class="weightbold" onClick="showhide(1);">Back</a>
<div id="successcancel" align="center"></div>
<ul>
<li>Click "Finish Cancellation" below to cancel your membership.</li>
<li id="cancel_membership"></li>
<li>Restart your membership anytime.</li>
<li>Your viewing preferences will be saved for 10 months.</li>
</ul>
<span class="buttoncencelbut" onclick="cancelsubscription();">Finish Cancellation</span>
</div>



<div class="container colorgrey paddingtop30" id="divid3" style="display:none">
<h3 class="borderbottom">Change Plan</h3>
<a class="weightbold" onClick="showhide(1);">Back</a>

 

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th class="basicplan"><input type="radio" name="ab" value="Monthly" id="Monthly" onclick="javascript:selectPlan('m')">&nbsp;<a class="topbtn topbtn_clr">Monthly</a></th>
      <th class="premiumplan"><input type="radio" name="ab" value="Yearly" id="Yearly" onclick="javascript:selectPlan('y')">&nbsp;<a class="topbtn topbtn_clr ">Yearly</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td class="basicplan"><span class="bc" id="basicprice"></span></td>
      <td class="premiumplan"><span class="pm"  id="premiumprice"></span></td>
    </tr>
    <tr>
      <td>HD Available</td>
      <td class="basicplan"><span class="bc glyphicon glyphicon-ok const_color"></span></td>
      <td class="premiumplan"><span class="pm glyphicon glyphicon-ok const_color "></span></td>
    </tr>
    <tr>
      <td>Ultra HD</td>
      <td class="basicplan"><span class="bc glyphicon glyphicon-remove const_color"></span></td>
      <td class="premiumplan"><span class="pm glyphicon glyphicon-remove const_color "></span></td>
    </tr>
    <tr>
      <td>Unlimited Movies and TV Shows</td>
      <td class="basicplan"><span class="bc glyphicon glyphicon-ok const_color"></span></td>
      <td class="premiumplan"><span class="pm glyphicon glyphicon-ok const_color"></span></td>
    </tr>
    <tr>
      <td>Cancel Anytime</td>
      <td class="basicplan"><span class="bc glyphicon glyphicon-ok const_color"></span></td>
      <td class="premiumplan"><span class="pm glyphicon glyphicon-ok const_color"></span></td>
    </tr>
    <tr>
      <td><span>90 DAYS Free Trial</span></td>
      <td class="basicplan"><span class="bc glyphicon glyphicon-ok const_color"></span></td>
      <td class="premiumplan"><span class="pm glyphicon glyphicon-ok const_color"></span></td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success pull-right" onClick="showhide(4);" >Continue</button>
</div>


<div class="container colorgrey ullistmargin paddingtop30" id="divid4" style="display:none" ></div>
<input type="hidden" name="planId" id="planId" value=""  />
<input type="hidden" name="price" id="price" value=""  />
<input type="hidden" name="customeID" id="customeID" value=""  />
<input type="hidden" name="UID" id="UID" value=""  />
<input type="hidden" name="subscription_end" id="subscription_end" value=""  />

 
